/* line 5, ../sass/sugarspoon.sass */
#header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding-bottom: 20px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(65%, #ffffff), color-stop(100%, transparent));
  background: -webkit-linear-gradient(top, #ffffff 65%, transparent 100%);
  background: -moz-linear-gradient(top, #ffffff 65%, transparent 100%);
  background: -o-linear-gradient(top, #ffffff 65%, transparent 100%);
  background: linear-gradient(top, #ffffff 65%, transparent 100%);
}

/* line 13, ../sass/sugarspoon.sass */
#mocha {
  margin-top: 80px !important;
}

/* line 16, ../sass/sugarspoon.sass */
#blanket-main {
  font-size: 15px !important;
}
/* line 19, ../sass/sugarspoon.sass */
#blanket-main .bl-source {
  font-size: 13px;
}

/* line 22, ../sass/sugarspoon.sass */
.settings-panel {
  position: relative;
  bottom: -1px;
  margin: 2px;
  margin-bottom: 0;
  padding: 5px;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  background: #eeeeee;
  font-size: 14px;
}
/* line 32, ../sass/sugarspoon.sass */
.settings-panel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  *zoom: 1;
}
/* line 38, ../../gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.settings-panel ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 38, ../sass/sugarspoon.sass */
.settings-panel li {
  float: left;
}
/* line 40, ../sass/sugarspoon.sass */
.settings-panel li:not(:first-child) {
  padding-left: 15px;
}
/* line 43, ../sass/sugarspoon.sass */
.settings-panel input[type=checkbox] {
  margin-right: 6px;
}
/* line 46, ../sass/sugarspoon.sass */
.settings-panel label, .settings-panel a {
  color: black !important;
  text-decoration: none;
  cursor: pointer;
}
/* line 51, ../sass/sugarspoon.sass */
.settings-panel label:hover, .settings-panel a:hover {
  text-decoration: underline;
}

/* line 55, ../sass/sugarspoon.sass */
html.hide-mocha-report #mocha-report {
  display: none;
}

/* line 59, ../sass/sugarspoon.sass */
#fixtures {
  margin-bottom: 30px;
  padding: 0 20px;
}
/* line 63, ../sass/sugarspoon.sass */
html:not(.show-fixtures) #fixtures {
  display: none;
}
